.feed {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  margin: 0 30px;
}

.feed .feed__input {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.feed__form {
  display: flex;
}

.feed .feed__input form {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.feed .feed__input form input[type="text"] {
  flex: 1;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  outline: 0;
  border: 1px solid #ccc;
}

.feed .feed__input form input[type="submit"] {
  display: none;
}

.feed__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.feed__option .option {
  display: flex;
  align-items: center;
  color: rgb(129, 129, 129);
  padding: 10px 20px;
}

.feed__option .option:hover {
  background-color: #eee;
  border-radius: 5px;
}

.feed__option .option span {
  margin-left: 5px;
  font-weight: 500;
}

@media screen and (max-width: 660px) {
  .feed {
    margin-top: 30px;
  }
  .feed .feed__input {
    padding: 10px;
    margin: 0;
  }
  .feed__option .option {
    font-size: 12px;
    padding: 10px;
  }
}
