body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: rgb(228, 228, 228);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app_body {
  display: flex;
  padding: 0 12%;
}

@media screen and (max-width: 460px) {
  .app_body {
    padding: 0 0 !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 660px) {
  .app_body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
  }
}
